extends layout
block body
    .topbar
      .fill
        .container
          a.brand(href='#') mywebclass
          ul.nav
            //
                          <li class="active"><a href="#">Intro</a></li>
          ul.nav.secondary-nav
            li
              a
                span#status.label.warning Loading...
            li
              a(href='#') Home
            li
              a(href='#') About
            li
              a(href='https://github.com/mywebclass/content-editor') Github
    .container
      section#intro
        .page-header
          div(ng-controller='AppCtrl')
            h2 mywebclass – Content Editor.
              div(ng-repeat='s in name')
                Current Site: {{s.siteID}}
            div.dropdown
              a.btn.dropdown-toggle(data-toggle="dropdown", href="#") Content
                span.caret
              ul.dropdown-menu(role="menu", aria-labelledby="dropdownMenu")
                li(ng-repeat='p in content') 
                  a(href="content/{{p.name}}", ng-click="load('content/' + p.name)", tabindex = "-1") {{p.name}} 
            p
        .row
          .row
            .span7.offset1
              h3 Edit Your Content
              .editContainer
                #editor(ng-controller='EditCtrl')
            .span7.offset1
              h3 Markdown Preview
              #view
        .row
          .row
            .span7.offset1
              span.help-block
                | Everyone viewing this page can see your edits live.
                button.btn.success Save Changes
                button.btn.danger Revert Changes

    footer.footer
      .container
        p.pull-right
          | mywebclass
          | &copy 2013
    script(src='js/lib/angular/angular.js')
    script(src='js/lib/angular/angular-resource.js')
    script(src='js/app.js')
    script(src='js/services.js')
    script(src='js/controllers.js')
    script(src='js/filters.js')
    script(src='js/directives.js')
    script(src='js/lib/jquery/jquery-1.9.1.min.js')
    script(src='bootstrap/js/bootstrap.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.17/jquery-ui.min.js')
    script(src='/lib/markdown/showdown.js')
    script(src='/lib/ace/ace.js')
    script(src='/lib/ace/mode-markdown.js')
    script(src='/channel/bcsocket.js')
    script(src='/share/share.uncompressed.js')
    script(src='/share/ace.js')
    script(src='/lib/prettify.js')
    script.
      var session;
      (function() {
      prettyPrint();
      var converter = new Showdown.converter();
      var view = document.getElementById('view');
      var editor = ace.edit("editor",{intialContent: 'hello'});
      editor.setReadOnly(true);
      editor.session.setUseWrapMode(true);

      // add Markdown mode
      var MarkdownScriptMode = require("ace/mode/markdown").Mode;
      session = editor.getSession();
      session.setMode(new MarkdownScriptMode());
      // *** Editor window

      var connection = sharejs.open('blag', 'text', function(error, doc) {
      if (error) {
      console.log(error);
      } else {

      doc.attach_ace(editor);
      editor.setReadOnly(false);

      //set initial values
      if(!session.getValue())
        session.setValue("hello");

      var render = function() {
      view.innerHTML = converter.makeHtml(doc.snapshot);
      };
      }
      window.doc = doc;
      render();
      doc.on('change', render);
      //});
      });
      // *** Connection status display
      var status = document.getElementById('status');
      var register = function(state, klass, text) {
      connection.on(state, function() {
      status.className = 'label ' + klass;
      status.innerHTML = text;
      });
      };
      register('ok', 'success', 'Online');
      register('connecting', 'warning', 'Connecting...');
      register('disconnected', 'important', 'Offline');
      register('stopped', 'important', 'Error');
      
      })();  