!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title mywebclass Content Editor
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='lib/bootstrap.min.css')
    link(rel='stylesheet', href='lib/prettify.css')
    link(rel='stylesheet', href='css/app.css')
  body
    block body